* {
    outline: 2px solid red;
    box-sizing:border-box;
    padding: 0;
    margin: 0;
}
    

p {
    font-family:'Trebuchet MS',
     'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 5px;
    margin: 5px;
}

a{
    font-weight:bolder;
    padding: 5px;
    margin: 10px;
}

li{
    color:chocolate;
    background-color:blueviolet;
    padding: 5px
}
h1{
    font-style:oblique;
}

.rest{
    font-weight: bold
}

#first{
    font-style: inherit;
}
